.container {
	width: 100%;
	min-width: $minViewportWidth;
	min-height: $minViewportHeight;
	overflow: hidden;
	opacity: 0; 
		/* page is hidden at first so jQuery mangagePageLoad can set
		   things up behind the scenes, see assets/app/helpers.js */
}

#logo {     
	position: fixed;     
	top: 50px;     
	left: 10px;     
	font: 18px $headerFontStack;
	z-index: $aboveItAll;

	a {
		padding: 20px;
	}
}

.about {
	box-sizing: initial; /* border-box setting caused text to jump at end of slide when padding added */
	display: none; /* starts out hidden; jQuery-UI changes this to slide out */
	position: fixed;
	top: 0;
	left: 0;
	width: 600px;
	height: 100%;
	padding: 58px 31px;
	background: #fff;
	@include opacity(.9);
	z-index: $topLayer;

	.site-description {
		margin-top: 2px;
		font-size: 18px;
		font-weight: normal;
		font-family: $headerFontStack;
		text-transform: uppercase;
	}

}

.gridnav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 98%;
	min-width: $minViewportWidth;
	min-height: $minViewportHeight;
	background: rgba(255,255,255,0.85);
	@include box-shadow(#000 2px 2px 10px);
	overflow:hidden;

	.jcarousel-pagination {
		width: 25%;
		margin: 0 auto;
		padding-top: 45px;
		text-align: center;
	}

	.gridframe {
		margin: 0 auto;
		overflow: hidden;
//		background: lightblue;
	}

	.jcarousel.thumbs {
		
		width: 100%;
		
		li {
			float: left;
			margin-right: 300px;
		}
		
		.grid-item {
			position: relative;
			float: left;
			width: 210px;
			height: 140px;
			overflow: hidden;
			background: #333;

			&:hover .overlay {
				top:0;
			}

			.overlay {
				position: absolute;
				top:-9999px;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 15px;
				text-align: center;
				background: $thumbOverlayBackground;
				overflow: hidden;

				> div {
					width: 100%;
					height: 100%;
					overflow: hidden;
				}

			}

			.project-title,
			.project-description {
				margin:0;
				font-family: $headerFontStack;
				font-weight: 300;
				text-transform: uppercase;
			}

			.project-title {
				font-size: 22px;
				line-height: 22px;
//				border-bottom: 1px solid #000;
			}

			.project-description {
				visibility: hidden;
				padding: 10px 0 0 0;
				font-size: 12px;
				line-height: 14px;
			}

			
		}

		.griditem.rightmost {
			margin-right: 0;
		}
		
	}

}


.main {
	width: 100%;
	height: 100%;
	padding-top: 1px;
	margin-top: -1px; /* necessary to prevent .main-frame margin-top from pushing this down */
}


.main-frame {
	position: relative;
	width: 66.67%;
//	height: 60%;
	height: 70%;
	margin: 0 auto;
//	background: lightblue;
	
	.option {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;

		img {
			position: absolute;
			display: block;
			max-width: 100%;
			max-height: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		.caption{
			position: relative;
	    	top: 100%;
	    	margin: 0 auto;
	    	padding: 5px 0;
	    	background: $siteBackground;
	    	@include opacity(0);
	    	@include transition-property(opacity);
	    	@include transition-duration(0.3s);
		}

		.media-title,
		.description {
			//display: inline;
		}

		.media-title {
			font-size: 12px;
			line-height: 24px;			
			margin: 0;
			font-weight: normal;
		}

		.description {
			max-width: 600px;
			margin: 0 auto;
			font-size: 10px;
			line-height: 16px;
			text-align: center;
			font-weight: normal;
		}
	}

	.option.left{
		top: 0;
		left: -3000px;
	}
	.option.right{
		top: 0;
		left: 3000px;
	}
	.option.up{
		top: -3000px;
		left: 0;
	}
	.option.down{
		top: 3000px;
		left: 0;
	}


}

