.container {
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	/*opacity: 1; */
		/* page is hidden at first so jQuery mangagePageLoad can set
		   things up behind the scenes, see assets/app/helpers.js */
}

#logo {
	position: fixed;
	margin: 53px 0 0 30px;
	font: 20px bold $headerFontStack;
	letter-spacing: 1.15px;
	z-index: 20;
}

.about {
	display: none; /* starts out hidden; jQuery-UI changes this to slide out */
	position: fixed;
	top: 0;
	left: 0;
	width: 42%;
	height: 100%;
	padding: 58px 31px;
	background: #fff;
	@include opacity(.9);
	overflow: hidden;
	z-index: 10;

	.site-description {
		font-size: 13px;
		font-family: $headerFontStack;
		text-transform: uppercase;
	}

}

.gridnav {
	width: 100%;
	
	.gridframe {
		@extend .row-fluid;
		width: initial;
		height: 1000px;
		margin: 138px 130px 0px 130px;

		//margin-left : 15.13671875%; // 

		//width: 69.7265625%; // 100%
		//background: #987;
	}

	.jcarousel.gridnav {
		
		width: 100%;
		
		li {
			@extend .span3;
		}
		
		.grid-item-rightmost, .grid-item{
			overflow: hidden;
			margin-bottom:21px;
		}	
		
		.grid-item{
			margin-right:21px;
			float: left;
		}
	}

}


.main {
	@extend .row-fluid;

	nav.main-nav {
		position: fixed;
		top: 0;
		left: 0;
		cursor: pointer;

		.top,
		.bottom {
			position: fixed;
			left: 50%;
		}

		.top {
			top: 20px;
		}

		.bottom {
			bottom: 20px;
		}

		.right,
		.left {
			position: fixed;
		}

		.right {
			right: 20px;
		}

		.left {
			left: 20px;
		}

	}
}


.main-frame {
	@extend .span8;
	@extend .offset2;
	height: 70%;
	
	.jcarousel {

		ul, li { height: inherit; }

		li { text-align: center; }

	}

	.jcarousel.projects {
		width: 100%;
	   	height: 100%;

		ul, li { 
			height: inherit;
		}

		> ul > li {
			float: none;
			margin-bottom: 300px;
		}

		> .jcarousel-control-prev,
		> .jcarousel-control-next {
			left: 50%;
		}

		> .jcarousel-control-prev { top: 20px; }

		> .jcarousel-control-next { bottom: 20px; }
	}

	.jcarousel.project {
		width: 100%;
		height: 100%;

		li {
			margin-right: 300px; 

			img { 
				height: 100%;
				width: auto;
			}
		}

		> .jcarousel-control-prev {
			left: 0;
		}

		> .jcarousel-control-next {
			right: 0;
		}
	}
}

