* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
	font-family: 'Nunito', sans-serif;
}

.container {
	background: $siteBackground;
}

a {
	color: $defaultFontColor;
}

a:hover {
	color: $defaultFontColor;
	text-decoration: none;
}

nav {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.ctrl {
	display: block;
	position: absolute;
	z-index: $topLayer;
	cursor: pointer;
}

.shutter {
	position: relative;
	top: 12px;
	width: 40px;
	height: 30px;
	margin: 0 auto;
	z-index: $aboveItAll;
}

.main-nav .shutter {
	background: inline-image('circle.png') no-repeat;
	background-position: center;
}

.thumbmenu-nav .shutter {
	background: inline-image('x.png') no-repeat;	
	background-position: center;
}


.up,
.down {
	width: 100%;
	height: 18%;
	background: inline-image('arrow_updown.png') no-repeat;
}

.up {
	top: 0;
	background-position: center top;
}

.down {
	bottom: 0;
	background-position: center bottom;
}

.right,
.left {
	width: 20%;
	height: 100%;
	background: inline-image('arrow_rightleft.png') no-repeat;
}

.right {
	right: 0;
	background-position: right center;
}

.left {
	left: 0;
	background-position: left center;
}


